<div class='container-fluid'>
	<div class='row'>
		<div class='col-lg-12 text-center'>
			<div class='panel panel-heading'>
				<div class='jumbotron'>
					<h1>Scegli il giorno</h1>
					<%= bootstrap_form_tag url: presences_day_path, layout: :inline do |f| %>
						<%= f.text_field :day, skip_label: true, placeholder: 'Scegli il giorno', class: 'datetimepicker' %>
						<%= f.submit 'Vai', class: 'btn btn-primary' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
