<div class='container-fluid'>
	<div class='col-sm-12'>
		<h1 class='page-header text-center'><span class='label label-primary'>Ultimo anno</span></h1>
		<%= line_chart @pres_by_day_last_year %>
	</div>
	<div class='col-sm-12'>
		<h1 class='page-header text-center'><span class='label label-primary'>Totali</span></h1>
		<%= line_chart @pres_by_day %>
	</div>
</div>
