<%
	classes = 'btn btn-lg btn-primary'
%>

<div class='container-fluid'>
	<div class='row'>
		<div class='col-lg-12 text-center'>
			<div class='panel panel-heading'>
				<div class='jumbotron'>
					<h1>Presenze Xin Fei</h1>
					<p>Benvenuto nel sistema delle presenze Xin Fei</p>
					<% if current_user %>
						<%= link_to 'Segna', presence_day_path, class: classes %>
						<%= link_to 'Scegli giorno', presence_select_path, class: classes %>
						<%= link_to 'Statistiche', presence_stats_path, class: classes %>
					<% else %>
						<%= link_to 'Entra', new_user_session_path, class: classes %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
