<div class='container-fluid'>
  <div class='row'>
    <div class='col-lg-12 text-center'>
      <h1 class='page-header'>Xin Fei</h1>
      <% if current_user %>
        <%= button_to 'Segna', home_index_path, class: 'btn btn-lg btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
