<div class='container-fluid'>
	<div class='row'>
		<div class='col-xs-12 text-center'>
			<div class='panel panel-heading'>
				<div class='jumbotron'>
					<h1>Presenze Xin Fei</h1>
					<p>Benvenuto nel sistema delle presenze Xin Fei</p>
					<% if current_user %>
						<div class='btn-group hidden-xs'>
							<%= home_buttons %>
						</div>
						<div class='btn-group-vertical visible-xs'>
							<%= home_buttons %>
						</div>
					<% else %>
						<%= link_to 'Entra', new_user_session_path, class: classes %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
