<div class='container-fluid'>
	<div class='col-sm-12'>
		<h1 class='text-center'>Statistiche presenze (totali)</h1>
		<%= line_chart @pres_by_day %>
	</div>
	<div class='col-sm-12'>
		<h1 class='text-center'>Statistiche presenze (ultimo anno)</h1>
		<%= line_chart @pres_by_day_last_year %>
	</div>
</div>
